<%- include('includes/head.ejs') %>

<%- include('includes/nav.ejs') %>

<main>
    <h1>Rants</h1>
    <div class="grid">
        <article class="card product-item">
            <header class="card__header">
                <h1 class="title">Great Book</h1>
            </header>
        </article>
    </div>
</main> 

<%- include('includes/end.ejs') %>